//Fonts
@font-face { font-family: DINCondensed; src: url('../../assets/Fonts/d-din/D-DINCondensed.otf'); }

//variables
// colors
$color-light: #fff;
$color-dark: #222;
$color-accent: #FF706B;
// fonts
$font-opensans:"Open Sans";
$font-din: DINCondensed;
$font-din-bold: DINCondensed-Bold;
$font-lato: "Lato";
// screens
$mxw-size: 1199.98px;
$mnw-size: 1200px;

//general styles
html, body{
  height: 100%;
}

body{
  line-height: 1;
  font-weight: 100;
  font-family: $font-opensans;
  background: #111;
  *{
    box-sizing: border-box;
    transition: all 0.3s ease;
  }
  a{
    color: $color-dark;
    text-decoration: none !important;
    &:hover{
      color: $color-dark;
    }
  }
  .desktop-only{
    @media screen and (max-width: $mxw-size){
      display: none;
    }
  }
  .mobile-only{
    display: none;
    @media screen and (max-width: $mxw-size){
      display: block;
    }
  }
  &.noScroll{
    overflow: hidden;
  }
}

//loader
.isLoader{
  position: fixed;
  background: $color-dark;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  img{
    height: 40px;
    width: auto;
    animation: loaderAnimation 8s linear infinite;
  }
}

//element styles
.has-container{
  margin: 0 140px;
  position: relative;
  @media screen and (max-width: $mxw-size){
    margin: 0 24px;
  }
}
section{
  margin-bottom: 120px;
}
.divider{
  margin-bottom: 120px;
  background: url("../../assets/images/Logo/Cross - colors/white.svg") no-repeat center center;
  background-size: 48px;
  height: 48px;
  opacity: 0.08;
}
.btn-accent{
  font-family: $font-din;
  text-transform: uppercase;
  font-size: 24px;
  color: $color-dark;
  letter-spacing: 1px;
  text-align: center;
  padding: 16px 54px 16px 26px;
  background: $color-light url(../../assets/icons/icn_button-arrow.svg) no-repeat;
  background-size: 10px;
  background-position: 90% 19px;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
  &.is-inverse{
    border: 1px solid $color-accent;
    color: #fff;
    background: url(../../assets/icons/icn_button-arrow--white.svg) no-repeat;
    background-size: 10px;
    background-position: 90% 19px;
    @media screen and (max-width: 320px){
      padding-left: 12px;
    }
    &.is-hire{
      padding: 0;
      border: 0;
      font-size: 20px;
      color: $color-accent;
      background: url(../../assets/icons/icn_button-arrow.svg) no-repeat;
      background-size: 8px;
      background-position: 70px 3px;
      padding-right: 24px;
    }
  }
  &:hover{
    background-position: 92% 19px;
  }
}

//specific styles
.home-banner{
  height: 100%;
  position: relative;
  background: url("../../assets/images/Background Images/bg-banner-1.jpeg") no-repeat 0 0;
  background-size: cover;
  @media screen and (max-width: $mxw-size){
    background: url("../../assets/images/Background Images/bg-banner-1.jpeg") no-repeat center center;
    background-size: cover;
    &>div{
      height: 100%;
    }
  }
  &:after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .banner-title{
    font-family: $font-opensans;
    @media screen and (min-width: $mnw-size){
      margin-top: 10%;
    }
    padding-top: 34px;
    margin-bottom: 70px;
    z-index: 2;
    a.btn-accent{
      position: relative;
      z-index: 2;
      padding: 18px 56px 18px 28px;
      display: flex;
      background-position: 90% 21px;
      @media screen and (max-width: $mxw-size){
        padding-right: 40px;
      }
      .btn-options{
        height: 24px;
        min-width: 100px;
        margin-left: 6px;
        overflow: hidden;
        .wrapper{
          display: flex;
          flex-direction: column;
          transform: translateY(0);
          transition: all .7s ease-in-out;
          span{
            margin-bottom: 12px;
            text-align: left;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
      &:after{
        content: "";
        position: absolute;
        top: 12px;
        left: -12px;
        border: 1px solid #fff;
        background: transparent;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
    .subtext{
      font-size: 12px;
      margin-top: 24px;
      font-weight: 100;
      letter-spacing: .7px;
      color: #afafaf;
    }
  }
  .icn_scrolldown{
    margin-bottom: 14%;
    z-index: 2;
    padding: 8px;
    cursor: pointer;
    @media screen and (max-width: $mxw-size){
      margin-bottom: 30%;
    }
    img{
      animation: scrollDown 1.3s ease-in-out infinite alternate;
    }
  }
  .banner-menu-wrapper{
    width: 100%;
    background: transparent;
    z-index: 2;
    .banner-menu{
      position: relative;
      @media screen and (min-width: $mnw-size){
        position: absolute;
        max-width: calc(100% - 280px);
        width: 100%;
      }
      .nav-panel{
        position: absolute;
        justify-content: space-between;
        width: 32%;
        align-items: center;
        @media screen and (max-width: $mxw-size){
          width: max-content;
          opacity: 0;
          transition: all 0.7s ease;
        }
        &.is-left{
          left: 0;
        }
        &.is-right{
          right: 0;
        }
        .menu-item{
          font-family: $font-din;
          font-size: 18px;
          color: $color-light;
          opacity: 0.6;
          letter-spacing: 1.35px;
          text-align: center;
          cursor: pointer;
          @media screen and (max-width: $mxw-size){
            display: none;
          }
          &:last-child{
            margin-right: 0;
          }
          &:hover{
            opacity: 1;
          }
          &.is-menu-client{
            padding: 8px 12px;
            border: 1px solid $color-accent;
            opacity: 1;
            &:hover{
              background: rgba(0,0,0,0.4);
              transform: translateY(-2px);
            }
          }
        }
      }
      .page-logo-wrapper{
        @media screen and (min-width: $mnw-size){
          margin: 0 90px;
        }
        min-width: 195px;
        max-height: 54px;
        overflow: hidden;
        position: relative;
        top: -4px;
        .page-logo{
          transition: transform .7s ease;
          img{
            height: 48px;
            width: auto;
            margin-bottom: 24px;
            &:last-child{
              height: 28px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
    &.is-fixed{
      position: fixed;
      top:0;
      left:0;
      background: $color-dark;
      z-index: 999;
      box-shadow: 0 1px 4px rgba(0,0,0,0.1);
      @media screen and (min-width: $mnw-size){
        height: 54px;
      }
      .banner-menu{
        margin: 0 140px;
        width: auto;
        @media screen and (min-width: $mnw-size){
          width: 100%;
        }
        @media screen and (max-width: $mxw-size){
          margin: 0 24px;
          .nav-panel{
            opacity: 1;
          }
        }
        .menu-item{
          color: $color-light;
          &.is-menu-client{
            &:hover{
              transform: translateY(0);
              transform: translateX(4px);
            }
          }
        }
        .page-logo{
          transform: translateY(-55px);
        }
      }
    }
  }
}
.home-why{
  .about-snippet{
    max-width: 60%;
    margin: 0 auto;
    @media screen and (max-width: $mxw-size){
      max-width: 100%;
    }
    .tags{
      justify-content: space-between;
      align-items: center;
      max-width: 90%;
      margin: 0 auto;
      margin-bottom: 48px;
      @media screen and (max-width: $mxw-size){
        flex-direction: column;
        max-width: 100%;
      }
      .tag{
        font-family: $font-din;
        font-size: 36px;
        color: $color-accent;
        letter-spacing: 1.4px;
        margin-right: 42px;
        position: relative;
        &:last-child{
          margin-right: 0;
        }
        @media screen and (max-width: $mxw-size){
          margin-right: 0;
          margin-bottom: 24px;
          text-align: center;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    .subtext{
      font-family: $font-opensans;
      font-size: 16px;
      color: $color-light;
      text-align: center;
      line-height: 32px;
      font-weight: lighter;
      letter-spacing: 0.4px;
    }
  }
}
.home-process{
  .section-content{
    @media screen and (max-width: $mxw-size){
      flex-direction: column;
    }
    .service{
      max-width: 32%;
      width: 100%;
      background: transparent;
      padding: 32px 0;
      cursor: default;
      position: relative;
      @media screen and (max-width: $mxw-size){
        max-width: 100%;
        margin-bottom: 24px;
        &:last-child{
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
      .title{
        font-family: $font-din;
        font-size: 26px;
        color: #fff;
        letter-spacing: 1.3px;
        text-align: center;
        position: relative;
        margin-bottom: 30px;
        text-transform: uppercase;
        &:after{
          content: "";
          position: absolute;
          width: 40px;
          height: 4px;
          background: #FF706B;
          left: 50%;
          transform: translate(-50%, 0);
          bottom: -12px;
        }
      }
      .content{
        font-family: $font-opensans;
        font-weight: 100;
        letter-spacing: .4px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        line-height: 32px;
        font-weight: 300;
        margin: 0 auto;
      }
    }
  }
}
.home-experience{
  .wrapper{
    @media screen and (max-width: $mxw-size){
      margin: 0;
    }
    .title{
      font-family: $font-din;
      font-size: 26px;
      color: #fff;
      letter-spacing: 1.3px;
      text-align: center;
      position: relative;
      margin-bottom: 70px;
      text-transform: uppercase;
      &:after{
        content: "";
        position: absolute;
        width: 40px;
        height: 4px;
        background: #FF706B;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -12px;
      }
    }
    .content{
      @media screen and (max-width: $mxw-size){
        // max-height: 104px;
        max-width: 100%;
        flex-wrap: wrap;
        max-height: 100%;
        justify-content: center !important;
        margin-left: 34px;
        margin-bottom: -44px;
      }
      div[class^="ex-"]{
        @media screen and (min-width: $mnw-size){
          margin-right: 90px;
        }
        @media screen and (max-width: $mxw-size){
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 34px;
          margin-right: 34px;
        }
        .icon{
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            height: 60px;
            width: auto;
          }
        }
        .subtext{
          font-family: $font-din;
          font-size: 16px;
          color: #949494;
          letter-spacing: 1.2px;
          text-align: center;
          margin-top: 28px;
          @media screen and (max-width: $mxw-size){
            width: 70px;
          }
        }
        @media screen and (min-width: $mnw-size){
          &:last-child{
            margin-right: 0;
          }
        }
      }
      div.ex-ar{
        .icon{
          img{
            height: 41px;
          }
        }
      }
    }
    .controls{
      margin-top: 90px;
    }
  }
}
.home-testimonial{
  .quotes{
    max-width: 74%;
    margin: 0 auto;
    width: 100%;
    @media screen and (max-width: $mxw-size){
      flex-direction: column;
      max-width: 100%;
    }
    .quote{
      max-width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: $mxw-size){
        margin-bottom: 24px;
      }
      .symbol{
        margin-bottom: 20px;
      }
      .content{
        color: #fff;
        font-size: 18px;
        color: #FFFFFF;
        text-align: center;
        line-height: 32px;
        @media screen and (min-width: $mnw-size){
          min-height: 128px;
        }
      }
      .quoter{
        color: #fff;
        font-size: 16px;
        font-family: $font-din;
        margin-top: 22px;
        letter-spacing: 1px;
        opacity: .4;
      }
    }
  }
  .controls{
    max-width: 68%;
    width: 100%;
    margin: 70px auto 0 auto;
    &>a:first-child{
      @media screen and (min-width: $mnw-size){
        min-width: 278px;
      }
    }
    @media screen and (max-width: $mxw-size){
      flex-direction: column;
      max-width: 100%;
      &>a{
        min-width: 100%;
        margin-bottom: 24px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}

footer{
  color: #fff;
  &>.has-container{
    padding: 74px 0;
    @media screen and (max-width: $mxw-size){
      flex-direction: column;
      align-items: center;
      padding: 0 0 48px 0;
      .middle-panel{
        order: 1;
      }
      .right-panel{
        order: 2;
        margin-top: 32px;
      }
      .left-panel{
        order: 3;
        span{
          width: 100%;
        }
      }
    }
    &>div{
      width: 100%;
      @media screen and (min-width: $mnw-size){
        max-width: 30%;
      }
      @media screen and (max-width: $mxw-size){
        margin-bottom: 16px;
        text-align: center !important;
      }
    }
    .left-panel{
      .address{
        span{
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0.6px;
          color: #a7a7a7;
        }
      }
    }
    .middle-panel{
      flex-direction: column;
      .footer-logo{
        img{
          height: 40px;
        }
      }
      .social-icons{
        margin-top: 20px;
        .social-link{
          margin-right: 16px;
          display: flex;
          img{
            height: 20px;
            width: auto;
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
    .right-panel{
      .content{
        a{
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0.6px;
          color: #a7a7a7;
        }
      }
    }
    // .mobile-only{
    //   .menu-links{
    //     a{
    //       font-family: $font-din;
    //       font-size: 18px;
    //       color: $color-light;
    //       opacity: 0.6;
    //       letter-spacing: 1.35px;
    //       text-align: center;
    //       cursor: pointer;
    //       &:last-child{
    //         margin-right: 0;
    //       }
    //       &:hover{
    //         opacity: 1;
    //       }
    //     }
    //   }
    // }
  }
  .sub-footer{
    background: $color-dark;
    height: 40px;
    .crosses{
      width: max-content;
      img{
        height: 20px;
        margin-right: 16px;
        opacity: .6;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}



//animations
@keyframes scrollDown {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(4px);
  }
}

@keyframes loaderAnimation{
  100%{
    transform: rotate(360deg);
  }
}
