@font-face {
  font-family: DINCondensed;
  src: url("../../assets/Fonts/d-din/D-DINCondensed.otf"); }

html, body {
  height: 100%; }

body {
  line-height: 1;
  font-weight: 400;
  font-family: "Open Sans"; }
  body * {
    box-sizing: border-box;
    transition: all 0.3s ease; }
  body a {
    color: #222;
    text-decoration: none !important; }
    body a:hover {
      color: #222; }

.has-container {
  margin: 0 90px;
  position: relative; }

section {
  margin-bottom: 120px; }

.divider {
  margin-bottom: 120px;
  background: url("../../assets/images/Logo/Cross - colors/black.svg") no-repeat center center;
  background-size: 48px;
  height: 48px;
  opacity: 0.14; }

.btn-accent {
  font-family: DINCondensed;
  text-transform: uppercase;
  font-size: 24px;
  color: #222;
  letter-spacing: 1px;
  text-align: center;
  padding: 16px 36px 0 36px;
  background: #fff url(../../assets/images/Icons/icn_button-arrow.svg) no-repeat;
  background-size: 10px;
  background-position: 92% 19px;
  border-radius: 2px;
  box-shadow: none; }
  .btn-accent:hover {
    background-position: 94% 19px; }

.home-banner {
  min-height: 732px;
  height: 100%;
  position: relative;
  background: url("../../assets/images/Background Images/bg-banner-1.jpeg") no-repeat center center;
  background-size: cover; }
  .home-banner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    z-index: 1; }
  .home-banner .banner-title {
    font-size: 70px;
    font-family: "Open Sans";
    font-weight: 600;
    margin-top: 160px;
    padding-top: 34px;
    margin-bottom: 70px;
    color: #fff;
    z-index: 2; }
    .home-banner .banner-title > span:first-child {
      margin-bottom: 12px; }
  .home-banner .icn_scrolldown {
    margin-bottom: 180px;
    z-index: 2; }
    .home-banner .icn_scrolldown img {
      -webkit-animation: scrollDown 1s linear infinite alternate;
              animation: scrollDown 1s linear infinite alternate; }
  .home-banner .banner-menu-wrapper {
    width: 100%;
    background: transparent;
    z-index: 2; }
    .home-banner .banner-menu-wrapper .banner-menu {
      position: relative;
      width: 100%; }
      .home-banner .banner-menu-wrapper .banner-menu .nav-panel {
        position: absolute;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 36%; }
        .home-banner .banner-menu-wrapper .banner-menu .nav-panel.is-left {
          left: 0; }
        .home-banner .banner-menu-wrapper .banner-menu .nav-panel.is-right {
          right: 0; }
        .home-banner .banner-menu-wrapper .banner-menu .nav-panel .menu-item {
          font-family: DINCondensed;
          font-size: 18px;
          color: #fff;
          opacity: 0.6;
          letter-spacing: 1.35px;
          text-align: center; }
          .home-banner .banner-menu-wrapper .banner-menu .nav-panel .menu-item:last-child {
            margin-right: 0; }
          .home-banner .banner-menu-wrapper .banner-menu .nav-panel .menu-item:hover {
            opacity: 1; }
      .home-banner .banner-menu-wrapper .banner-menu .page-logo-wrapper {
        margin: 0 90px;
        min-width: 195px;
        max-height: 54px;
        overflow: hidden; }
        .home-banner .banner-menu-wrapper .banner-menu .page-logo-wrapper .page-logo img {
          height: 48px;
          width: auto; }
          .home-banner .banner-menu-wrapper .banner-menu .page-logo-wrapper .page-logo img:last-child {
            opacity: 0; }
    .home-banner .banner-menu-wrapper.is-fixed {
      position: fixed;
      top: 0;
      left: 0;
      background: #fff;
      z-index: 999;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
      .home-banner .banner-menu-wrapper.is-fixed .banner-menu {
        margin: 0 90px;
        width: auto; }
        .home-banner .banner-menu-wrapper.is-fixed .banner-menu .menu-item {
          color: #222; }
        .home-banner .banner-menu-wrapper.is-fixed .banner-menu .page-logo {
          -webkit-transform: translateY(-13px);
                  transform: translateY(-13px); }
          .home-banner .banner-menu-wrapper.is-fixed .banner-menu .page-logo img {
            height: 24px; }
            .home-banner .banner-menu-wrapper.is-fixed .banner-menu .page-logo img:first-child {
              opacity: 0; }
            .home-banner .banner-menu-wrapper.is-fixed .banner-menu .page-logo img:last-child {
              opacity: 1; }

.home-why .about-snippet {
  max-width: 60%; }
  .home-why .about-snippet span {
    line-height: 1.8; }

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); } }

@keyframes scrollDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); } }
