@font-face {
  font-family: DINCondensed;
  src: url("../../assets/Fonts/d-din/D-DINCondensed.otf"); }

html, body {
  height: 100%; }

body {
  line-height: 1;
  font-weight: 100;
  font-family: "Open Sans";
  background: #111; }
  body * {
    box-sizing: border-box;
    transition: all 0.3s ease; }
  body a {
    color: #222;
    text-decoration: none !important; }
    body a:hover {
      color: #222; }
  @media screen and (max-width: 1199.98px) {
    body .desktop-only {
      display: none; } }
  body .mobile-only {
    display: none; }
    @media screen and (max-width: 1199.98px) {
      body .mobile-only {
        display: block; } }

.has-container {
  margin: 0 140px;
  position: relative; }
  @media screen and (max-width: 1199.98px) {
    .has-container {
      margin: 0 24px; } }

section {
  margin-bottom: 120px; }

.divider {
  margin-bottom: 120px;
  background: url("../../assets/images/Logo/Cross - colors/white.svg") no-repeat center center;
  background-size: 48px;
  height: 48px;
  opacity: 0.08; }

.btn-accent {
  font-family: DINCondensed;
  text-transform: uppercase;
  font-size: 24px;
  color: #222;
  letter-spacing: 1px;
  text-align: center;
  padding: 16px 54px 16px 26px;
  background: #fff url(../../assets/icons/icn_button-arrow.svg) no-repeat;
  background-size: 10px;
  background-position: 90% 19px;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer; }
  .btn-accent.is-inverse {
    border: 1px solid #FF706B;
    color: #fff;
    background: url(../../assets/icons/icn_button-arrow--white.svg) no-repeat;
    background-size: 10px;
    background-position: 90% 19px; }
    .btn-accent.is-inverse.is-hire {
      padding: 0;
      border: 0;
      font-size: 20px;
      color: #FF706B;
      background: url(../../assets/icons/icn_button-arrow.svg) no-repeat;
      background-size: 8px;
      background-position: 70px 3px;
      padding-right: 24px; }
  .btn-accent:hover {
    background-position: 92% 19px; }

.home-banner {
  height: 100%;
  position: relative;
  background: url("../../assets/images/Background Images/bg-banner-1.jpeg") no-repeat 0 0;
  background-size: cover; }
  @media screen and (max-width: 1199.98px) {
    .home-banner {
      background: url("../../assets/images/Background Images/bg-banner-1.jpeg") no-repeat center center;
      background-size: cover; }
      .home-banner > div {
        height: 100%; } }
  .home-banner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    z-index: 1; }
  .home-banner .banner-title {
    font-family: "Open Sans";
    padding-top: 34px;
    margin-bottom: 70px;
    z-index: 2; }
    @media screen and (min-width: 1200px) {
      .home-banner .banner-title {
        margin-top: 160px; } }
    .home-banner .banner-title a.btn-accent {
      position: relative;
      z-index: 2;
      padding: 18px 56px 18px 28px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-position: 90% 21px; }
      @media screen and (max-width: 1199.98px) {
        .home-banner .banner-title a.btn-accent {
          padding-right: 40px; } }
      .home-banner .banner-title a.btn-accent .btn-options {
        height: 24px;
        min-width: 100px;
        margin-left: 6px;
        overflow: hidden; }
        .home-banner .banner-title a.btn-accent .btn-options .wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          transition: all .7s ease-in-out; }
          .home-banner .banner-title a.btn-accent .btn-options .wrapper span {
            margin-bottom: 12px;
            text-align: left; }
            .home-banner .banner-title a.btn-accent .btn-options .wrapper span:last-child {
              margin-bottom: 0; }
      .home-banner .banner-title a.btn-accent:after {
        content: "";
        position: absolute;
        top: 12px;
        left: -12px;
        border: 1px solid #fff;
        background: transparent;
        width: 100%;
        height: 100%;
        z-index: 1; }
    .home-banner .banner-title .subtext {
      font-size: 12px;
      margin-top: 24px;
      font-weight: 100;
      letter-spacing: .7px;
      color: #afafaf; }
  .home-banner .icn_scrolldown {
    margin-bottom: 180px;
    z-index: 2; }
    @media screen and (max-width: 1199.98px) {
      .home-banner .icn_scrolldown {
        margin-bottom: 120px; } }
    .home-banner .icn_scrolldown img {
      -webkit-animation: scrollDown 1.3s ease-in-out infinite alternate;
              animation: scrollDown 1.3s ease-in-out infinite alternate; }
  .home-banner .banner-menu-wrapper {
    width: 100%;
    background: transparent;
    z-index: 2; }
    .home-banner .banner-menu-wrapper .banner-menu {
      position: relative;
      max-width: 100%; }
      .home-banner .banner-menu-wrapper .banner-menu .nav-panel {
        position: absolute;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 32%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media screen and (max-width: 1199.98px) {
          .home-banner .banner-menu-wrapper .banner-menu .nav-panel {
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            opacity: 0;
            transition: all 0.7s ease; } }
        .home-banner .banner-menu-wrapper .banner-menu .nav-panel.is-left {
          left: 0; }
        .home-banner .banner-menu-wrapper .banner-menu .nav-panel.is-right {
          right: 0; }
        .home-banner .banner-menu-wrapper .banner-menu .nav-panel .menu-item {
          font-family: DINCondensed;
          font-size: 18px;
          color: #fff;
          opacity: 0.6;
          letter-spacing: 1.35px;
          text-align: center;
          cursor: pointer; }
          @media screen and (max-width: 1199.98px) {
            .home-banner .banner-menu-wrapper .banner-menu .nav-panel .menu-item {
              display: none; } }
          .home-banner .banner-menu-wrapper .banner-menu .nav-panel .menu-item:last-child {
            margin-right: 0; }
          .home-banner .banner-menu-wrapper .banner-menu .nav-panel .menu-item:hover {
            opacity: 1; }
          .home-banner .banner-menu-wrapper .banner-menu .nav-panel .menu-item.is-menu-client {
            padding: 8px 12px;
            border: 1px solid #FF706B;
            opacity: 1; }
            .home-banner .banner-menu-wrapper .banner-menu .nav-panel .menu-item.is-menu-client:hover {
              background: rgba(0, 0, 0, 0.4);
              -webkit-transform: translateY(-2px);
                      transform: translateY(-2px); }
      .home-banner .banner-menu-wrapper .banner-menu .page-logo-wrapper {
        min-width: 195px;
        max-height: 54px;
        overflow: hidden;
        position: relative;
        top: -4px; }
        @media screen and (min-width: 1200px) {
          .home-banner .banner-menu-wrapper .banner-menu .page-logo-wrapper {
            margin: 0 90px; } }
        .home-banner .banner-menu-wrapper .banner-menu .page-logo-wrapper .page-logo {
          transition: -webkit-transform .7s ease;
          transition: transform .7s ease;
          transition: transform .7s ease, -webkit-transform .7s ease; }
          .home-banner .banner-menu-wrapper .banner-menu .page-logo-wrapper .page-logo img {
            height: 48px;
            width: auto;
            margin-bottom: 24px; }
            .home-banner .banner-menu-wrapper .banner-menu .page-logo-wrapper .page-logo img:last-child {
              height: 28px;
              margin-bottom: 0; }
    .home-banner .banner-menu-wrapper.is-fixed {
      position: fixed;
      top: 0;
      left: 0;
      background: #222;
      z-index: 999;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
      .home-banner .banner-menu-wrapper.is-fixed .banner-menu {
        margin: 0 140px;
        width: auto; }
        @media screen and (max-width: 1199.98px) {
          .home-banner .banner-menu-wrapper.is-fixed .banner-menu {
            margin: 0 24px; }
            .home-banner .banner-menu-wrapper.is-fixed .banner-menu .nav-panel {
              opacity: 1; } }
        .home-banner .banner-menu-wrapper.is-fixed .banner-menu .menu-item {
          color: #fff; }
          .home-banner .banner-menu-wrapper.is-fixed .banner-menu .menu-item.is-menu-client:hover {
            -webkit-transform: translateY(0);
                    transform: translateY(0);
            -webkit-transform: translateX(4px);
                    transform: translateX(4px); }
        .home-banner .banner-menu-wrapper.is-fixed .banner-menu .page-logo {
          -webkit-transform: translateY(-55px);
                  transform: translateY(-55px); }

.home-why .about-snippet {
  max-width: 60%;
  margin: 0 auto; }
  @media screen and (max-width: 1199.98px) {
    .home-why .about-snippet {
      max-width: 100%; } }
  .home-why .about-snippet .tags {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 48px; }
    @media screen and (max-width: 1199.98px) {
      .home-why .about-snippet .tags {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 100%; } }
    .home-why .about-snippet .tags .tag {
      font-family: DINCondensed;
      font-size: 36px;
      color: #FF706B;
      letter-spacing: 1.4px;
      margin-right: 42px;
      position: relative; }
      .home-why .about-snippet .tags .tag:last-child {
        margin-right: 0; }
      @media screen and (max-width: 1199.98px) {
        .home-why .about-snippet .tags .tag {
          margin-right: 0;
          margin-bottom: 24px;
          text-align: center; }
          .home-why .about-snippet .tags .tag:last-child {
            margin-bottom: 0; } }
  .home-why .about-snippet .subtext {
    font-family: "Open Sans";
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    font-weight: lighter;
    letter-spacing: 0.4px; }

@media screen and (max-width: 1199.98px) {
  .home-process .section-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.home-process .section-content .service {
  max-width: 32%;
  width: 100%;
  background: transparent;
  padding: 32px 0;
  cursor: default;
  position: relative; }
  @media screen and (max-width: 1199.98px) {
    .home-process .section-content .service {
      max-width: 100%;
      margin-bottom: 24px; }
      .home-process .section-content .service:last-child {
        padding-bottom: 0;
        margin-bottom: 0; } }
  .home-process .section-content .service .title {
    font-family: DINCondensed;
    font-size: 26px;
    color: #fff;
    letter-spacing: 1.3px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase; }
    .home-process .section-content .service .title:after {
      content: "";
      position: absolute;
      width: 40px;
      height: 4px;
      background: #FF706B;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      bottom: -12px; }
  .home-process .section-content .service .content {
    font-family: "Open Sans";
    font-weight: 100;
    letter-spacing: .4px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    font-weight: 300;
    margin: 0 auto; }

.home-experience .wrapper .title {
  font-family: DINCondensed;
  font-size: 26px;
  color: #fff;
  letter-spacing: 1.3px;
  text-align: center;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase; }
  .home-experience .wrapper .title:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: #FF706B;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: -12px; }

@media screen and (max-width: 1199.98px) {
  .home-experience .wrapper .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.home-experience .wrapper .content > div[class^="ex-"] {
  margin-right: 90px; }
  .home-experience .wrapper .content > div[class^="ex-"] .icon {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .home-experience .wrapper .content > div[class^="ex-"] .icon img {
      height: 60px;
      width: auto; }
  .home-experience .wrapper .content > div[class^="ex-"] .subtext {
    font-family: DINCondensed;
    font-size: 16px;
    color: #949494;
    letter-spacing: 1.2px;
    text-align: center;
    margin-top: 28px; }
  .home-experience .wrapper .content > div[class^="ex-"]:last-child {
    margin-right: 0; }

.home-experience .wrapper .content > div.ex-ar .icon img {
  height: 41px; }

.home-experience .wrapper .controls {
  margin-top: 90px; }

.home-testimonial .quotes {
  max-width: 74%;
  margin: 0 auto;
  width: 100%; }
  @media screen and (max-width: 1199.98px) {
    .home-testimonial .quotes {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 100%; } }
  .home-testimonial .quotes .quote {
    max-width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 1199.98px) {
      .home-testimonial .quotes .quote {
        margin-bottom: 24px; } }
    .home-testimonial .quotes .quote .symbol {
      margin-bottom: 20px; }
    .home-testimonial .quotes .quote .content {
      color: #fff;
      font-size: 18px;
      color: #FFFFFF;
      text-align: center;
      line-height: 32px; }
    .home-testimonial .quotes .quote .quoter {
      color: #fff;
      font-size: 16px;
      font-family: DINCondensed;
      margin-top: 22px;
      letter-spacing: 1px;
      opacity: .4; }

.home-testimonial .controls {
  max-width: 68%;
  width: 100%;
  margin: 70px auto 0 auto; }
  @media screen and (min-width: 1200px) {
    .home-testimonial .controls > a:first-child {
      min-width: 278px; } }
  @media screen and (max-width: 1199.98px) {
    .home-testimonial .controls {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 100%; }
      .home-testimonial .controls > a {
        min-width: 100%;
        margin-bottom: 24px; }
        .home-testimonial .controls > a:last-child {
          margin-bottom: 0; } }

footer {
  color: #fff; }
  footer > .has-container {
    padding: 74px 0; }
    @media screen and (max-width: 1199.98px) {
      footer > .has-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    footer > .has-container > div {
      width: 100%; }
      @media screen and (min-width: 1200px) {
        footer > .has-container > div {
          max-width: 30%; } }
      @media screen and (max-width: 1199.98px) {
        footer > .has-container > div {
          margin-bottom: 24px; } }
    footer > .has-container .left-panel .address span {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.6px;
      color: #a7a7a7; }
    footer > .has-container .middle-panel {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      footer > .has-container .middle-panel .footer-logo img {
        height: 40px; }
      footer > .has-container .middle-panel .social-icons {
        margin-top: 20px; }
        footer > .has-container .middle-panel .social-icons .social-link {
          margin-right: 16px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          footer > .has-container .middle-panel .social-icons .social-link img {
            height: 20px;
            width: auto; }
          footer > .has-container .middle-panel .social-icons .social-link:last-child {
            margin-right: 0; }
    footer > .has-container .right-panel .content a {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.6px;
      color: #a7a7a7; }
  footer .sub-footer {
    background: #222;
    height: 40px; }
    footer .sub-footer .crosses {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; }
      footer .sub-footer .crosses img {
        height: 20px;
        margin-right: 16px;
        opacity: .6; }
        footer .sub-footer .crosses img:last-child {
          margin-right: 0; }

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); } }

@keyframes scrollDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); } }
